.NavbarList {
    margin-top: 10px;
    width: 350px;
    height: 60px;
    border-radius: 15px;
    background-color: lightgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.navlink {
    text-decoration: none;
    color: lightcoral;
    font-size: larger;
    font-weight: bold;
    margin: 5px;
}